/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 900;
}

/* Generics */
html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

li {
    display: inline;
}

ul {
    list-style-type: none;

}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

a:hover {
    scale: 1.5;
    border: solid 1px;

}

/* Utils */
:root {
    --red: #ff0000;
    --green: #006400;
    --yellow: #FFFF00;
    --white: #ffffff;
    --black: #000000;
}

.img-fluid {
    max-width: 100%;
}

/* Nav bar */

nav a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    line-height: 30px;
    text-align: center;
    border: none;

    border-radius: 50%;
    background-color: var(--white);
    text-decoration: none;
    font-weight: 900;
    color: var(--black);
    box-shadow: 2px 2px 8px var(--black)
}



/* Product section */
.shoes {

    height: 100vh;
    color: var(--yellow);
    font-size: 4rem;
    text-align: center;
    position: relative;
}

#blue-shoes {
    background-color: var(--red);
}

#white-shoes {
    background-color: var(--green);
}

#converse-shoes {
    background-color: var(--yellow);
    color: var(--red);
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}