/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 900;
}

/* Custom Properties */
:root {
    --red: #ff0000;
    --green: #006400;
    --yellow: #FFFF00;
    --white: #ffffff;
    --black: #000000;
}

/* Utils */
.img-fluid {
    max-width: 100%;
}

/* Generics */
html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
}

a:hover {
    scale: 1.5;
    margin: 0 15px;
    border: solid 1px;
}

/* Nav bar */
nav a {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 50%;
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    box-shadow: 2px 2px 8px var(--black)
}

/* Product section */
.shoes {
    height: 100vh;
    color: var(--yellow);
    font-size: calc(1.875rem + 3.5vw);
    text-align: center;
    position: relative;
}

#blue-shoes {
    background-color: var(--red);
}

#white-shoes {
    background-color: var(--green);
}

#converse-shoes {
    background-color: var(--yellow);
    color: var(--red);
}

.wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}